<div class="grid grid-cols-3 gap-8 justify-center items-center mx-auto my-5 px-5 max-w-4xl">
    <div class="text-center">
        <img src="papas1.webp" alt="Pa'Fritas sabor mayonesa" class="w-48 h-auto mx-auto hover:border-4 hover:border-[#84B6F4]">
        <p class="mt-2 text-gray-700">Pa'Fritas sabor Mayonesa</p>
    </div>
    <div class="text-center">
        <img src="papas2.webp" alt="Pa'Fritas sabor cebolla" class="w-48 h-auto mx-auto hover:border-4 hover:border-[#84B6F4]">
        <p class="mt-2 text-gray-700">Pa'Fritas sabor Cebolla</p>
    </div>
    <div class="text-center">
        <img src="papas3.webp" alt="Pa'Fritas sabor pollo" class="w-48 h-auto mx-auto hover:border-4 hover:border-[#84B6F4]">
        <p class="mt-2 text-gray-700">Pa'Fritas sabor Pollo</p>
    </div>
    <div class="text-center">
        <img src="papas4.webp" alt="Pa'Fritas Picante BQQ" class="w-48 h-auto mx-auto hover:border-4 hover:border-[#84B6F4]">
        <p class="mt-2 text-gray-700">Pa'Fritas Picante BQQ</p>
    </div>
    <div class="text-center">
        <img src="papas5.webp" alt="Pa'Fritas Parillada" class="w-48 h-auto mx-auto hover:border-4 hover:border-[#84B6F4]">
        <p class="mt-2 text-gray-700">Pa'Fritas Parillada</p>
    </div>
    <div class="text-center">
        <img src="papas6.webp" alt="Pa'Fritas Limon" class="w-48 h-auto mx-auto hover:border-4 hover:border-[#84B6F4]">
        <p class="mt-2 text-gray-700">Pa'Fritas Limón</p>
    </div>
</div>
