<div class="grid grid-cols-2 gap-8 justify-center items-center mx-auto my-5 px-5 max-w-4xl">
    <div class="text-center">
        <img src="papas1.webp" alt="Pa'Fritas sabor mayonesa" class="w-48 h-auto mx-auto hover:border-4 hover:border-[#84B6F4]">
        <p class="mt-2 text-gray-700">Pa'Fritas sabor mayonesa</p>
    </div>
    <div class="text-center">
        <img src="papas2.webp" alt="Pa'Fritas sabor cebolla" class="w-48 h-auto mx-auto hover:border-4 hover:border-[#84B6F4]">
        <p class="mt-2 text-gray-700">Pa'Fritas sabor cebolla</p>
    </div>
    <div class="text-center">
        <img src="papas3.webp" alt="Pa'Fritas sabor picante" class="w-48 h-auto mx-auto hover:border-4 hover:border-[#84B6F4]">
        <p class="mt-2 text-gray-700">Pa'Fritas sabor picante</p>
    </div>
    <div class="text-center">
        <img src="papas4.webp" alt="Pa'Fritas tomate" class="w-48 h-auto mx-auto hover:border-4 hover:border-[#84B6F4]">
        <p class="mt-2 text-gray-700">Pa'Fritas tomate</p>
    </div>
</div>
