---
import Layout from '../layouts/Layout.astro';
import RegisterForm from '../components/RegisterForm.astro';
const response = await fetch('http://localhost:3000/users');
const users = await response.json();
---

<Layout title="Registro">
  <main class="flex flex-col items-center justify-center min-h-screen bg-[#f5f5f5] p-4">
    <h1 class="text-2xl font-bold text-[#333] mb-6">Crea una Cuenta</h1>
    <RegisterForm users={users} />
  </main>
</Layout>